<footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                </div>
                <div class="terms">
                    <p>Nuestro proyecto consiste en el desarrollo de una plataforma web para la gestión de asistencia de alumnos. El equipo está compuesto por dos miembros: Franco Vivas y Matías San Román. La plataforma permitirá a los docentes registrar y monitorear la asistencia de sus alumnos de manera eficiente, brindando reportes detallados y acceso a datos en tiempo real. Este sistema está diseñado para ser intuitivo y accesible, facilitando la gestión diaria en instituciones educativas.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Vivas Franco</h2>
                <a href="https://www.facebook.com/@francovivas">Facebook</a>
                <a href="https://www.x.com/@francovivass">Twitter</a>
                <a href="francovivasa@gmail.com">Email</a>
                <a href="https://ar.linkedin.com/in/franco-vivas-ab915628a">Linkedin</a>
            </div>

            <div class="box__footer">
                <h2>San Roman Matias</h2>
                <a href="https://www.facebook.com/@francovivas">Facebook</a>
                <a href="https://www.x.com/@francovivass">Twitter</a>
                <a href="francovivasa@gmail.com">Email</a>
                <a href="https://ar.linkedin.com/in/franco-vivas-ab915628a">Linkedin</a>         
            </div>


        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2024 <b>Vivas Franco</b></p>
        </div>
    </footer>
